#======================================
# snippets from Ultisnips are available
#======================================


#--------------------
# Vim temporary files
#--------------------

*~
*.un~
*.swp


#--------------------------
# Verible code linking list 
#--------------------------

verible.filelist


